/* CSS Document */

body {

	background-image:url(bg.jpg);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:75%;
	color:#888;
}

* {
	padding:0;
	margin:0;
}

#container {
	width:583px;
	margin:40px 0 0 340px;
}

#top {
	width:583px;
	font-family:"Trebuchet MS", Tahoma, Verdana;
	color:#fff;
	font-weight:bold;
	font-size:250%;
	padding:10px 0 10px 2px;
	margin:0;
	background-image:url(top.png);
	background-position:top;
	background-repeat:repeat-y;
}

#general {
	height:408px;
	width:581px;
	list-style:none;
	border:1px solid #84e3ff;
	color:#888;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
	line-height:14px;
	background-image:url(body.png);
	background-position:top;
	background-repeat:repeat-y;
	margin:0 0 0 1px;
	overflow:auto;
}

#general h1 {
	font-family:"Trebuchet MS", Tahoma, Verdana;
	border:1px solid #84e3ff;
	font-size:22px;
	color:#fff;
	line-height:30px;
	background-image:url(body.png);
	background-position:top;
	background-repeat:repeat-y;
}

#general h2 {
	font-size:15px;
	font-family:"Trebuchet MS", Tahoma, Verdana;
	margin:9px;
	color:#fff;
}
	
#general a {
	color:#fff;
	padding:2px;
	text-decoration:none;
}

#general a:hover {
		color:#84e3ff;
}

#movelist th {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	text-align:left;
	border-bottom:1px solid #84e3ff;
	border-right:1px solid #84e3ff;
}

#movelist td {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-weight:bold;
	font-size:12px;
	color:#84e3ff;
}

#footer {
	width:583px;
	color:#000;
	font-size:12px;
	text-align:center;
	margin:0 0 0 340px;
	padding:18px 0 18px 0;
	background-image:url(bottom.png);
	background-position:top;
	background-repeat:repeat-y;	
}
#footer a {
	color:#fff;
	text-decoration:none;
}

#footer a:hover {
	color:#000;
	text-decoration:none;
}