DIV#mainframe {
	MARGIN: 0px; WIDTH: 100%
}

.sml {
	FONT-SIZE: 60%
}

.smll {
	FONT-SIZE: 30%
}

.top.main{/*真ん中の領域の設定*/
  background-color: #FFFFFF;/*■背景色*/
  margin: 0 0px 0 0px;/*右余白・左余白　左余白はリンク領域の横幅に合わせて調節を*/
  position: relative;
  z-index: 2;
  }

.top.main .cont{/*コンテンツ領域の設定*/
  line-height: 120%;/*■行間の設定*/
  overflow: auto;
  padding: 0.5em 0.5em 0.5em 1em;
  }

H1 {
	PADDING-RIGHT: 0px; 
        MARGIN-TOP: 0px; 
        MARGIN-BOTTOM: -0.1em;
        PADDING-LEFT: 3px; 
        FONT-SIZE: 250%; 
        PADDING-BOTTOM: 0em; 
        COLOR: #555555; 
        PADDING-TOP: 0.2em; 
        FONT-FAMILY: Helvetica, Arial, Veranda; 
        BACKGROUND-COLOR: transparent; 
        BORDER-LEFT: #555555 4px solid; COLOR: #555555; 
        TEXT-ALIGN: left;
        WHITE-SPACE: nowrap
}/*サイト名部分*/

H2 {
	CLEAR: both; 
        BORDER-RIGHT: #555555 0px solid; 
        PADDING-RIGHT: 0.2em; 
        BORDER-TOP: #555555 0px solid; 
        PADDING-LEFT: 0.2em; 
        FONT-SIZE: 120%; 
        PADDING-BOTTOM: 0.2em; 
        MARGIN: 0.5em 0.0em 0.5em 0em; 
        BORDER-LEFT: #555555 4px solid; COLOR: #555555; 
        PADDING-TOP: 0.2em; BORDER-BOTTOM: #555555 1px solid; 
        FONT-FAMILY: Helvetica, Arial, Veranda; 
        BACKGROUND-COLOR: transparent; 
        TEXT-ALIGN: left;
        WHITE-SPACE: nowrap
}

H3 {
	CLEAR: both; 
        BORDER-RIGHT: #555555 0px solid; 
        PADDING-RIGHT: 0.1em; 
        BORDER-TOP: #555555 0px solid; 
        PADDING-LEFT: 0.3em; 
        FONT-SIZE: 90%; 
        PADDING-BOTTOM: 0em; 
        MARGIN: 0.7em 0em 0em 0em; 
        BORDER-LEFT: #555555 4px solid; 
        COLOR: #555555; PADDING-TOP: 0.1em; 
        BORDER-BOTTOM: #555555 1px solid; 
        FONT-FAMILY: Helvetica, Arial, Veranda; 
        BACKGROUND-COLOR: transparent; 
        TEXT-ALIGN: left;
        WHITE-SPACE: nowrap
}/*見出し・小*/

H4 {
	CLEAR: both; 
        PADDING-RIGHT: 0.1em;
        PADDING-LEFT: 0.3em; 
        FONT-SIZE: 80%; 
        PADDING-BOTTOM: 0.1em; 
        MARGIN: -1.5em 60em 0em 0.5em;
        COLOR: #555555; PADDING-TOP: 0.1em; 
        FONT-FAMILY: Helvetica, Arial, Veranda; 
        BORDER-BOTTOM: 1px solid #555555; 
        BACKGROUND-COLOR: transparent; 
        TEXT-ALIGN: left;
        WHITE-SPACE: nowrap
}/*文字カウント部分*/

H5 {
	CLEAR: both; 
        BORDER-RIGHT: #555555 0px solid; 
        PADDING-RIGHT: 0.1em; 
        BORDER-TOP: #555555 0px solid; 
        PADDING-LEFT: 0.3em; 
        FONT-SIZE: 60%; 
        PADDING-BOTTOM: 0em; 
        MARGIN: 0.9em 0em 0em 2em; 
        BORDER-LEFT: #555555 4px solid; 
        COLOR: #555555; 
        PADDING-TOP: 0.1em; 
        BORDER-BOTTOM: #555555 1px solid; 
        FONT-FAMILY: Helvetica, Arial, Veranda; 
        BACKGROUND-COLOR: transparent; 
        TEXT-ALIGN: left;
        WHITE-SPACE: nowrap
}/*見出し・小*/

A:hover {
	COLOR: #f8f8ff; 
        BACKGROUND-COLOR: #996464
}
DIV#navigation UL {
	PADDING-RIGHT: 0px; 
        PADDING-LEFT: 0px; 
        PADDING-BOTTOM: 0px; 
        MARGIN: -2px 0px; 
        WIDTH: 100%; 
        PADDING-TOP: 0px
}
DIV#navigation UL LI {
	DISPLAY: inline
}
DIV#navigation UL LI A {
	BORDER-RIGHT: #5d5d5d 0px solid; 
        PADDING-RIGHT: 0px; 
        BORDER-TOP: #5d5d5d 1px solid; 
        PADDING-LEFT: 0px; 
        FONT-WEIGHT: bold; 
        FONT-SIZE: 95%; 
        FLOAT: left; 
        PADDING-BOTTOM: 0px; 
        MARGIN: 2px 0px 7px; 
        BORDER-LEFT: #5d5d5d 0px solid; 
        WIDTH: 90px; COLOR: #5d5d5d; 
        PADDING-TOP: 0px; 
        BORDER-BOTTOM: #5d5d5d 1px solid; 
        FONT-FAMILY: Helvetica, Arial, Veranda; 
        LIST-STYLE-TYPE: none; 
        TEXT-ALIGN: center; 
        TEXT-DECORATION: none;
        WHITE-SPACE: nowrap
}
DIV#navigation UL LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #8a8a9a
}
LI {
	FONT-SIZE: 95%; 
        COLOR: #555555; 
        LIST-STYLE-TYPE: square; 
        BACKGROUND-COLOR: transparent
}
EM {
	COLOR: #446688; 
        FONT-STYLE: normal; 
        BACKGROUND-COLOR: transparent
}

P {
	FONT-SIZE: 95%; 
        MARGIN: 0.7em; 
        COLOR: #555555; 
        BACKGROUND-COLOR: transparent;
        WHITE-SPACE: nowrap
}

TD {
        FONT-SIZE: 12px; 
        COLOR: #555555; 
}

TR {
        FONT-SIZE: 12px; 
        COLOR: #555555; 
}